.header
  &.ant-layout-header
    background #FAFAFA
    box-shadow 0 2px 8px #f0f1f2
  .logo
    background rgba(255,255,255,.2)
    float left
    .ant-menu-item
      margin-left 50px
  .ant-menu-item
    float right
  .ant-menu-horizontal
    background #FAFAFA
  .dkp-system
    padding-right 0

.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-submenu-selected
  border-bottom none
  font-weight 600



