.editable-row
  text-align center
  .ant-form-explain
    position absolute
    font-size 12px
    margin-top -4px

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td
  background #FAFAFA

.table-edit
  .edit,
  .save,
  .cancel
    margin-right 10px
    color #1890ff
    cursor pointer
    font-size 15px
    font-weight 600
  .delete
    margin-right 10px
    color #f5222d
    cursor pointer
    font-size 15px
    font-weight 600
  .details
    color purple
    font-size 15px
    font-weight 600
.scores-history
  .score-row
    .created-at
      margin-right 10px
    .label
      margin-right 10px
    .action
      margin-right 10px
      &.add
        color green
      &.reduce
        color red
    .value
      font-size 15px
      color: #1890ff
      font-weight 600
