.editable-row
  text-align center
  .ant-form-explain
    position absolute
    font-size 12px
    margin-top -4px

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td
  background #FAFAFA

.table-edit
  .edit,
  .save,
  .cancel
    margin-right 10px
    color #1890ff
    cursor pointer
  .delete
    margin-right 10px
    color #f5222d
    cursor pointer
