.search-box
  margin-bottom 25px
  button
    float right
.add-member
  margin-left 20px
.add-row
    margin 10px 0
  .label
    margin 5px 0
    font-family 15px
    font-weight 600

.ant-table-content
  .ant-table-body
    th.header
      color black
      font-size 15px
      font-weight 700
    .player_total_score
      color black
      font-size 14px
      font-weight 700
      font-style italic
    .name
      color #1890ff
      font-weight 600
.ant-modal-wrap
  .ant-modal-content
    .ant-modal-body
      .actions-btn
        width 90%