h1
  color green

body
  text-align center
  margin auto

.ant-layout-header
  padding 0 180px

.ant-layout-footer
  padding 24px 180px

.ant-layout-content
  padding 25px 180px
  min-height  700px
  background #ffffff

.ant-layout-footer
  background #FAFAFA

.text-error
  text-align left 
  color #f5222d