h1
  color green

body
  text-align center
  margin auto

.ant-layout-header
  padding 0 10%
  @media screen and (max-width: 812px)
    padding 0 3%

.ant-layout-footer
  padding 25px 10%
  @media screen and (max-width: 812px)
    padding 25px 3%

.ant-layout-content
  padding 25px 10%
  min-height 678px
  @media screen and (max-height: 736px)
    min-height 600px
  background #ffffff
  @media screen and (max-width: 812px)
    padding 25px 3%

.ant-layout-footer
  background #FAFAFA

.text-error
  text-align left 
  color #f5222d